nav {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
}

nav h3 {
    font-size: 24px;
    margin: 0;
}

nav button {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

nav button:hover {
    text-decoration: underline;
}